.profile{ 
    display: grid;
    grid-template-areas: "avatar prof-content";
    grid-template-columns: 100px 1fr;
    grid-gap: 30px;
    margin-bottom: 15px;
}

.avatar{
    grid-area: avatar;
    margin-top: 8px;
}
.profile-content{
    grid-area: prof-content;
}
.avatar img{
    width: 100px;
    height: 100px;
    object-fit: cover;
}
