.app-wrapper{
    display: grid;
    grid-template-areas: 
    "h h"
    "a c";
    grid-template-columns: 160px 10fr;
    grid-template-rows: 60px 1fr;
    grid-row-gap: 30px;
    grid-column-gap: 35px;
    max-width: 1120px;
    width: 100%;
    margin: 0 auto;
    min-height: 100vh;
    max-height: 100vh;
}
.app-wrapper-content{
    grid-area: c;
    background: #2C3440;
    color: #fff;
    padding: 15px;
    position: relative;
    
}